@model _2017_MVC_Wardrobe.Models.Wardrobe_Items

@{
    ViewBag.Title = "Details";
}



<h2>Details</h2>
<div class="container">
    <div class="row">


        <br />

        <div class="gallery_product col-lg-6 col-md-6 col-sm-6 col-xs-6 filter hdpe">

            <div class="thumbnail">
                <img id="kyrie" src="~/Content/Photos/Kyrie_Jersy.jpg" class="img-responsive">
                <div class="caption">
                    <h1>TOPS</h1>
                </div>
            </div>
        </div>

        <div class="gallery_product col-lg-6 col-md-6 col-sm-6 col-xs-6 filter hdpe">
            <div class="thumbnail">
                <img id="indians" src="~/Content/Photos/Indians_Coat.jpg" class="img-responsive">
                <div class="caption">
                    <h1>TOPS</h1>
                </div>
            </div>
        </div>
        <div class="gallery_product col-lg-6 col-md-6 col-sm-6 col-xs-6 filter hdpe">
            <div class="thumbnail">
                <img id="cavs" src="~/Content/Photos/CavsPants.jpg" class="img-responsive">
                <div class="caption">
                    <h1>BOTTOMS</h1>
                </div>
            </div>
        </div>

        <div class="gallery_product col-lg-6 col-md-6 col-sm-6 col-xs-6 filter hdpe">
            <div class="thumbnail">
                <img id="browns" src="~/Content/Photos/Browns_PJPants.jpg" class="img-responsive">
                <div class="caption">
                    <h1>BOTTOMS</h1>
                </div>
            </div>
        </div>
        <div class="gallery_product col-lg-6 col-md-6 col-sm-6 col-xs-6 filter hdpe">
            <div class="thumbnail">
                <img id="airmax" src="~/Content/Photos/AirMax.jpg" class="img-responsive">
                <div class="caption">
                    <h1>SHOES</h1>
                </div>
            </div>
        </div>

        <div class="gallery_product col-lg-6 col-md-6 col-sm-6 col-xs-6 filter hdpe">
            <div class="thumbnail">
                <img id="addidas" src="~/Content/Photos/Addidas.jpg" class="img-responsive">
                <div class="caption">
                    <h1>SHOES</h1>
                </div>
            </div>
        </div>

        <div class="gallery_product col-lg-6 col-md-6 col-sm-6 col-xs-6 filter hdpe">
            <div class="thumbnail">
                <img id="gear2" src="~/Content/Photos/Gear2.jpg" class="img-responsive">
                <div class="caption">
                    <h1>ACCESSORIES</h1>
                </div>
            </div>
        </div>

        <div class="gallery_product col-lg-6 col-md-6 col-sm-6 col-xs-6 filter hdpe">
            <div class="thumbnail">
                <img id="movado" src="~/Content/Photos/Movado.jpg" class="img-responsive">
                <div class="caption">
                    <h1>ACCESSORIES</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <h4>Wardrobe_Items</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Photo)
        </dt>

        <dd>
            <img src="~/Content/Photos/Kyrie_Jersy.jpg" alt="Sample Photo" />
            @Html.DisplayFor(model => model.Photo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Color)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Color)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Season)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Season)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Occasion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Occasion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Categorty_Type.Categories)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categorty_Type.Categories)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ItemID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
