@model _2017_MVC_Wardrobe.Models.Wardrobe_Items

@{
    ViewBag.Title = "Details";
}



<h1>Details</h1>
<div class="container">
    <div class="row">


        <br />

        <div class="gallery_product col-lg-12 col-md-12 col-sm-12 col-xs-12 filter hdpe">
            
            <div class="thumbnail">
                <img src="@Url.Content(@Model.Photo)" alt="@Model.Occasion" />
                <div id="detail_caption" class="caption">
                   
                    <h3>@Html.DisplayNameFor(model => model.Name):@Html.DisplayFor(model => model.Name)</h3>
                    <h3>@Html.DisplayNameFor(model => model.Color):@Html.DisplayFor(model => model.Color)</h3>
                    <h3>@Html.DisplayNameFor(model => model.Season):@Html.DisplayFor(model => model.Season)</h3>
                    <h3>@Html.DisplayNameFor(model => model.Occasion):@Html.DisplayFor(model => model.Season)</h3>
                    <h3>@Html.DisplayNameFor(model => model.Categorty_Type.Categories):@Html.DisplayFor(model => model.Categorty_Type.Categories)</h3>
                  

                </div>
            </div>
        </div>

        
            </div>
        </div>

      
@*<div>
    <h2>Wardrobe_Items</h2>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Photo)
        </dt>

        <dd>
            <img src="@Url.Content(@Model.Photo)" alt="@Model.Occasion" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Color)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Color)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Season)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Season)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Occasion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Occasion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Categorty_Type.Categories)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categorty_Type.Categories)
        </dd>

    </dl>
</div>*@
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ItemID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
