@model IEnumerable<_2017_MVC_Wardrobe.Models.Wardrobe_Items>

@{
    ViewBag.Title = "Index";
}

<h1>JD warDrobe</h1>

<p>
    @Html.ActionLink("Create New", "Details")
</p>


<div class="container">
    <div class="row">


        <br />

        <div class="gallery_product col-lg-6 col-md-6 col-sm-6 col-xs-6 filter hdpe">

            <div class="thumbnail">
                <img id="kyrie" src="~/Content/Photos/Kyrie_Jersy.jpg" class="img-responsive">
                <div class="caption">
                    <h1>TOPS</h1>
                </div>
            </div>
        </div>

        <div class="gallery_product col-lg-6 col-md-6 col-sm-6 col-xs-6 filter hdpe">
            <div class="thumbnail">
                <img id="indians" src="~/Content/Photos/Indians_Coat.jpg" class="img-responsive">
                <div class="caption">
                    <h1>TOPS</h1>
                </div>
            </div>
        </div>
        <div class="gallery_product col-lg-6 col-md-6 col-sm-6 col-xs-6 filter hdpe">
            <div class="thumbnail">
                <img id="cavs" src="~/Content/Photos/CavsPants.jpg" class="img-responsive">
                <div class="caption">
                    <h1>BOTTOMS</h1>
                </div>
            </div>
        </div>

        <div class="gallery_product col-lg-6 col-md-6 col-sm-6 col-xs-6 filter hdpe">
            <div class="thumbnail">
                <img id="browns" src="~/Content/Photos/Browns_PJPants.jpg" class="img-responsive">
                <div class="caption">
                    <h1>BOTTOMS</h1>
                </div>
            </div>
        </div>
         <div class="gallery_product col-lg-6 col-md-6 col-sm-6 col-xs-6 filter hdpe">
            <div class="thumbnail">
                <img id="airmax" src="~/Content/Photos/AirMax.jpg" class="img-responsive">
                <div class="caption">
                    <h1>SHOES</h1>
                </div>
            </div>
        </div>

        <div class="gallery_product col-lg-6 col-md-6 col-sm-6 col-xs-6 filter hdpe">
            <div class="thumbnail">
                <img id="addidas" src="~/Content/Photos/Addidas.jpg" class="img-responsive">
                <div class="caption">
                    <h1>SHOES</h1>
                </div>
            </div>
        </div>

        <div class="gallery_product col-lg-6 col-md-6 col-sm-6 col-xs-6 filter hdpe">
            <div class="thumbnail">
                <img id="gear2" src="~/Content/Photos/Gear2.jpg" class="img-responsive">
                <div class="caption">
                    <h1>ACCESSORIES</h1>
                </div>
            </div>
        </div>

        <div class="gallery_product col-lg-6 col-md-6 col-sm-6 col-xs-6 filter hdpe">
            <div class="thumbnail">
                <img id="movado" src="~/Content/Photos/Movado.jpg" class="img-responsive">
                <div class="caption">
                    <h1>ACCESSORIES</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Photo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Color)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Season)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Occasion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Categorty_Type.Categories)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Photo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Color)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Season)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Occasion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Categorty_Type.Categories)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ItemID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ItemID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ItemID })
        </td>
    </tr>
}

</table>
